<li>
  <ul class="nav pull-right">
    <li><a href="/sign_up">Sign Up</a></li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a class="dropdown-toggle" href="#" data-toggle="dropdown">Sign In <b class="caret"></b></a>
        <div class="dropdown-menu" style="padding 15px; padding-bottom: 0px;">
          <form class="form-inline">
            <fieldset class='textbox' style="padding:10px">
                   <input style="margin-top: 8px" type="text" placeholder="Username" />
                   <input style="margin-top: 8px" type="password" placeholder="Passsword" />
                   <input style="margin-top: 8px" class="btn-primary" name="commit" type="submit" value="Log In" />
                 </fieldset>
          </form>
        </div><!-- end of dropdown-menu -->
    </li><!-- end of dropdown li for sign-in -->
  </ul><!-- end of nav pull-right ul -->
</li>
