<li class="dropdown">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sort <b class="caret"></b></a>
  <ul class="dropdown-menu">
    <li><a href="/sort/composer">Composer</a></li>
    <li><a href="/sort/composition">Composition</a></li>
    <li><a href="/sort/edition">Publisher</a></li>
    <li><a href="/sort/type">Format</a></li>
    <li class="divider"></li>
    <li><a href="/">Entry order</a></li>
  </ul>
</li>
